- content: {{ factoid.content }}
  type: {{ factoid.factoid_type.value }}
  criticality: {{ factoid.criticality.value }}
  {% if factoid.conversation_id %}conversation_id: {{ factoid.conversation_id }}{% endif %}
