[build]
  command = "npm run build"
  publish = "dist"

[dev]
  targetPort = 5173

# Proxy API requests to your backend (update the URL when you deploy your backend)
[[redirects]]
  from = "/api/*"
  to = "https://api.lykke.day/:splat"
#  to = "http://localhost:8080/:splat"
  status = 200
  force = true

# SPA routing - redirect all paths to index.html for client-side routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

