- name: {{ task.name }}
  status: {{ task.status.value }}
  type: {{ task.type.value }}
  category: {{ task.category.value }}
  scheduled_date: {{ task.scheduled_date.isoformat() }}{% if task.description %}
  description: {{ task.description }}{% endif %}
  frequency: {{ task.frequency.value }}
  {% if task.tags %}tags: {{ task.tags | map(attribute='value') | list }}{% endif %}{% if task.completed_at %}
  completed_at: {{ fmt_datetime(task.completed_at) }}{% endif %}
  schedule:
    {{- kv_line("    ", "timing_type", task.schedule and task.schedule.timing_type.value) -}}
    {{- kv_line("    ", "available_time", task.schedule and task.schedule.available_time and fmt_time(task.schedule.available_time)) -}}
    {{- kv_line("    ", "start_time", task.schedule and task.schedule.start_time and fmt_time(task.schedule.start_time)) -}}
    {{- kv_line("    ", "end_time", task.schedule and task.schedule.end_time and fmt_time(task.schedule.end_time)) -}}
